<!DOCTYPE html>
<html>
  <head>
    <title>OdinReddit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield(:head) %>
  </head>

  <body>
    <%= react_component("Header",
                       {
                         username: current_user.nil? ? "" : current_user.name,
                         logged_in: current_user.nil? ? false : true,
                       },
                       class: "header") %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container-xl">
      <div class="row col-lg-12 content">
        <%= yield %>
        <% if (request.original_url.match?(/\/f\//)) %>
          <% origin = Origin.find_by("title = ?", params[:title]) %>

          <%= react_component("SideBar",
                                {
                                  originTitle: origin.title,
                                  originCreationDate: origin.created_at,
                                },
                                class: "col-sm-3 sidebar") %>
        <% end %>
      </div>
    </div>
  </body>
</html>
