<!DOCTYPE html>
<html>
  <head>
    <title>OdinReddit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield(:head) %>
  </head>

  <body>
    <%= react_component("Header", {}, class: "header") %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container-xl">
      <div class="row col-lg-12 content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
